img[alt~="top-right"] {
  position: absolute;
  top: 130px;
  right: 30px;
}

img[alt~="bottom-right"] {
  position: absolute;
  top: 300px;
  right: 50px;
}

img[alt~="top-corner"] {
    position:absolute;
    top:20px;
    right:20px; 
}

.callout, .callout2 {
  background: #ccc;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.callout2 {
  margin-top: 80px;
}